<div data-ng-controller="SidenavController">
    <md-toolbar>
        <div layout="row" layout-align="center center" class="md-toolbar-tools">
            <h1 class="nowrap">
                <a ui-sref="home" tabindex="-1">
                    <span class="f-400">{{ cfg.brand_name }}</span>
                </a>
            </h1>
        </div>
    </md-toolbar>
    <md-content class="sidenav-content">
        <md-button ui-sref="review">
            <i class="fa fa-phone btn-icon"></i>
            iPhone 6s
        </md-button>
        <md-button ui-sref="review">
            <i class="fa fa-phone btn-icon"></i>
            Samsung s6
        </md-button>
        <md-button ui-sref="review">
            <i class="fa fa-phone btn-icon"></i>
            Olviu
        </md-button>
        <md-button ng-show="cfg.development" ng-click="generateDatabase()">
            <i class="fa fa-database btn-icon"></i>
            Generate Database
        </md-button>
    </md-content>
</div>
