<div layout="row" class="w-100 assist-review" layout-align="center start">
    <div flex flex-gt-md="50" flex-gt-lg="50">
        <md-toolbar class="md-accent">
            <h1 class="md-toolbar-tools">Your Last Product</h1>
        </md-toolbar>
        <md-content>
            <section layout-align="center top">
                <div>
                    <md-button class="md-raised">Pret</md-button>
                    <md-button class="md-raised">Baterie</md-button>
                    <md-button class="md-raised">Grafica</md-button>
                </div>
                <div>
                    <md-button class="md-raised">Display</md-button>
                    <md-button class="md-raised">Audio</md-button>
                    <md-button class="md-raised">Memorie</md-button>
                    <md-button class="md-raised">Accesorii</md-button>
                </div>
            </section>
        </md-content>
    </div>
</div>
