<footer layout="row" layout-padding class="footer" role="contentinfo">
    <p flex layout="column" layout-align="center center">
        <small>&copy; 2016 - {{config.CONFIG_DB.brand_name}} by Hackerstreet Boys. Code is licensed under the MIT License</small>
    </p>
</footer>
