<div layout="row" class="w-100" layout-align="center start">
    <md-grid-list flex md-cols-gt-sm="8"
                  md-cols="2"
                  md-row-height="2:1"
                  md-row-height-gt-sm="1:1"
                  md-row-height-gt-md="1:1"
                  md-row-height-gt-lg="3:2"
                  md-gutter="10px">
        <md-grid-tile md-rowspan-gt-md="1"
                      md-rowspan-gt-sm="2"
                      md-colspan-gt-sm="8"
                      md-colspan="2"
                      md-rowspan="2"
                      class="md-whiteframe-z1 white-bg">
            <h1 class="text-center hpad-15">Welcome to Leia Review Assistant!</h1>
        </md-grid-tile>
    </md-grid-list>
</div>
